#grid {
    display: grid;
    background-color: #90C5F0;
    width: 500px;
    height: 500px;

}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
}

#background {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 50px;
    background-color: #90C5F0;
    border-radius: 50px;
    height: 650px;
    width: 650px;
}

.header {
    font-size: 50px;
    font-weight: bold;
    color: #F090C5;
}

html {
    background-color: #f0bb90;
    display: flex;
    justify-content: center;
    padding-top: 60px;
}

#dimension, #reset {
    background-color: #C5F090;
    border-radius: 30px;
    border-color: black;
    height: 50px;
    width: 150px;
}

#button-layout {
    width: 450px;
    display: flex;
    justify-content: space-between;
}



